.curso {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.curso__name {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 700;
  width: 300px;
}



.curso__name::after {
  content: ' para gerenciar';
  font-weight: 300;
  color: #000;
}

.curso__name::before {
  content: 'Escolha um ';
  color: #000;
  font-weight: 300;
}

.curso__image {
  height: 200px;
  width: fit-content;
}

.vector-people {
  height: 70%;
  width: fit-content;
}
