:root {
  --primary-color: #3347b0;
  --hover-color: #5c6aafd9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  width: 100vw;
  height: 100px;
  background: var(--primary-color);
  padding: 12px 32px;
  justify-content: space-between;
  display: flex;
}

.curso-container {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
}

footer {
  width: 100vw;
  background: var(--primary-color);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
}

.copy {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 3px;
}
.autor {
  font-size: 1.1rem;
  font-weight: 800;
}

.autor::before {
  font-weight: 300;
  content: 'vinicius ';
}

.autor::after {
  font-weight: 300;
  content: ' bianca';
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Fundo que corre */

::-webkit-scrollbar {
  height: 10px;
}

/* Linha que desce */
::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 15px;
}

@media (max-width: 720px) {
  body {
    overflow: hidden;
  }
  #contact {
    display: none;
  }
  #media {
    display: none;
  }
  footer {
    justify-content: center;
    padding: 0;
  }
  .copy {
    display: flex;
  }
  .vector-people {
    display: none;
  }
  #curso__name {
    width: 300px;
    text-align: center;
  }

  #curso {
    display: flex;
    /* flex-direction: row-reverse; */
    gap: 12px;
    align-items: center;
  }

  main {
    flex-direction: column;
    height: 100%;
  }

  #curso__image {
    height: 125px;
  }

  #container {
    gap: 16px;
    width: 200px;
    overflow-x: scroll;
  }

  .container > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 16px;
    height: 75px;
    background: var(--primary-color);
    font-size: 2rem;
    gap: 16px;
  }
}
