
.navigation{
    display: flex;
    width: 100vw;
    background: #BCC2E5;
    height: fit-content;
    justify-content: space-between;
    padding: 6px 32px;
    align-items: center;
}

.menu-title{

}

.menu {
    list-style: none;
    float: left;
}

.menu li {
    position: relative;
    float: left;

}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: #BCC2E5;
    color: #fff;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: var(--primary-color) ;
    display: none;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}


.menu li ul li {
    display: block;
    width: 150px;
}

.legenda{
    display: flex;
    gap: 32px;
}

.legenda > span{
    color: var(--primary-color);
    font-weight: 600;
}

.legenda-content{
    display: flex;

}

.quadrado-azul{
    width: 20px;
    height: 20px;
    background: var(--primary-color);
}


.quadrado-amarelo{
    width: 20px;
    height: 20px;
    background: var(--secundary-color);
}

.content{
    display: flex;
    gap: 16px;

}
